@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.futer_vrh {
    height: 90px;
    width: 1297px;
    padding-top: 16px;
    padding-bottom: 48px;
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}
.levi_futer_vrh {
    width: 450px;
    height: 50px;
    padding: 0px 12px; 
    margin-top: 30px;
}
.levi_futer_vrh i {
    padding: 10px;
    background-color:  #c18e3c;
    float: right;
    font-size: 20px;
    margin: 5px 0px;
    color: white;
}
.levi_futer_text {
    padding-right: 15px;
    float: right;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
}
.free_call {
    color: #c18e3c;
}
.broj {
    color: white;
}
.call_us {
    color: gray;
    font-size: 12px;
}
.ikonica_naslov {
    width: 166px;
    height: 87px;
    padding: 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ikonica_naslov i{
    color: #191919;
    text-shadow: -1.5px 0 #c18e3c, 0 1.5px #c18e3c, 1.5px 0 #c18e3c, 0 -1.5px #c18e3c;
    font-size: 32px;
}
.big_header  {
    font-size: 26px;
    color: white;
    font-weight: 900;
}
.small_header {
    font-size: 12px;
    font-weight: 900;
    color: #c18e3c;
    margin-top:-9px ;
}
.desni_futer_gore {
    width: 450px;
    height: 50px; 
    padding: 0px 12px;
    margin-top: 30px;
    display: flex;
    justify-content: baseline;
    align-items: flex-start;
}
.desni_futer_gore i {
    padding: 10px;
    background-color:  #c18e3c;
    float: left;
    font-size: 20px;
    margin: 5px 0px;
    color: white;
}
.desni_futer_text {
    padding-left: 15px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 5px;
    font-size: 13px;
    font-weight: 600;
}
.one_slike {
    background-image: url("./prva_slika_kandidat.jpg");
    background-size: 1297px 750px;
    width: 1297px;
    height: 755px;
    display: block;
}
.fake_dropdown {
    height: 62px;
    width: 1120px;
    padding: 0px 10px;
    margin: 0px 78.5px;
    background-color: #2c2c2c;
    position: relative;
    bottom: 20px;
}
.dropdown_options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 900px;
    color: white;
    font-size: 15px;
    font-weight: 900;
    padding-top: 18px;
}
.dropdown_options span {
    display: inline-block;
}
.dropdown_options span:hover {
    color: #c18e3c;
}
.search i {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 15px;
    color: white;
    transition: 0.5s;
    padding: 10px;
}
.fake_dropdown i:hover {
    transform: rotate(-360deg);
}
.search input {
    position:absolute;
    top: 22px;
    right: 45px;
    padding-right: 0px;
    background-color: #2c2c2c;
    border: none;
    font-size: 14px;
    color: white;
    visibility: hidden;
    transition: 0.5s;
}
.search i:hover + input {
    visibility: visible;
}
.ona_slika_text {
    margin-top: 100px;
    margin-left: 10px;
    width: 450px;
    height: 440px;
}
.ona_slika_text a {
    text-decoration: none;
}
.ona_slika_text h1 {
    font-size: 58px;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 300;
    color: white;
}
.ona_slika_text span {
    margin-top: 50px;
    color: white;
    font-size: 16px;
    margin-bottom: 50px;
}
.link_home {
    padding: 20px;
    padding-left: 40px;
    font-size: 16px;
    color: white;
    background-color: #c18e3c;
    margin-top: 40px;
    width: 210px;
}
.link_home span {
    font-size: 16px;
    margin-right: 20px;
}
.karte_4 {
    padding-left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: relative;
    top: 120px;
}
.kartice {
    width: 213px;
    height: 80px;
    padding: 30px;
    margin-right: 30px;
    background-color:#191919;
    display: inline-block;
    
}
.kartice i {
    color: gray;
    background-color: #2c2c2c;
    padding: 15px;
    font-size: 32px;
    border-radius: 50%;
    margin-top:5px;
    display: inline-block;
}
.kartica1 {
    margin-left: 20px;
}

.karte_text {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 5px;
}
.karte_text h2 {
    margin: 0px;
    display: inline-block;
    font-weight: 900;
    color:white;
}
.karte_text h3 {
    margin: 0px;
    font-size: 12px;
    color: #c18e3c;
}
.about_us {
    height: 820px;
    width: 1117px;
    background-color:#2c2c2c;
    padding: 90px;
    display: flex;
    padding-top: 200px;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}
.about_us span {
    font-weight: 900;
    color: #c18e3c;
    font-size: 13px;
}
.about_us h1 {
    width: 400px;
    font-size: 51px;
    font-weight:900 ;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    color: white;
    margin-top: 10px;
}
.about_us p {
    color:gray;
    width: 736px;
    text-align: center;
    font-size: 15px;
    font-weight: 900;
    margin-bottom: 100px;
}
.about_us img {
    width: 926px;
    height: 500px;
}
.about_us i {
    position: relative;
    background-color: #c18e3c;
    font-size: 10px;
    padding: 30px ;
    border-radius: 50%;
    color: white;
    bottom: 285px;
}
.practise_areas {
    width: 100%;
    height: 730px;
    padding: 100px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
}

.practise_areas span {
    font-weight: 900;
    color: #c18e3c;
    font-size: 13px;
}
.practise_areas h1 {
    width: 400px;
    font-size: 51px;
    font-weight:900 ;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    margin-top: 10px;
    margin-bottom: 100px;
}
.practise_areas_cards {
    width: 1140px;
    height: 560px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.practise_areas_card {
    margin: 12px;
    width: 260px;
    height: 500px;
    display: inline-block;
    position: relative;
    background-color: white;
}
.practise_areas_card img {
    height: 280px;
    width: 260px;
}
.practise_areas_card i {
    font-size: 30px;
    padding: 22px;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 35px;
    color:#c18e3c;
    background-color: rgb(235, 235, 235);
}
.practise_areas_card h4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 24px;
    margin-left: 25px;
    margin-top: 35px;
    margin-bottom: 20px;
}
.practise_areas_card p {
    color: gray;
    font-size: 14px;
    padding: 0px 25px;
    font-weight: 600;

}